In [1]:
import pandas as pd

data = {
    "Name" : ["Alice", "Bob", "Charlie", "David"],
    "Age" : [24, 30, None, 35],
    "Salary" : [50000, None, 55000, None]
}

In [2]:
df = pd.DataFrame(data)
df

      Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob  30.0      NaN
2  Charlie   NaN  55000.0
3    David  35.0      NaN

In [11]:
total_missing_val = df.isnull().sum()
# to check how much % data is missing
print(df.isnull().mean() * 100)

Name       0.0
Age       25.0
Salary    50.0
dtype: float64

In [ ]:
fill_with_0 = df.fillna(0)


drop_missing = df.dropna()


fill_with_mean = df.copy()
fill_with_mean['Age'].fillna(fill_with_mean['Age'].mean(), inplace=True)
fill_with_mean['Salary'].fillna(fill_with_mean['Salary'].mean(), inplace=True)
print("Fill with 0:\n", fill_with_0 , "\n\n\n")
print("Drop missing:\n", drop_missing , "\n\n\n")
print("Fill with mean:\n", fill_with_mean)

Fill with 0:
       Name   Age   Salary
0    Alice  24.0  50000.0
1      Bob  30.0      0.0
2  Charlie   0.0  55000.0
3    David  35.0      0.0



Drop missing:
     Name   Age   Salary
0  Alice  24.0  50000.0



Fill with mean:
       Name        Age   Salary
0    Alice  24.000000  50000.0
1      Bob  30.000000  52500.0
2  Charlie  29.666667  55000.0
3    David  35.000000  52500.0