## Label encoding

In [ ]:
%pip install scikit-learn

In [6]:
from sklearn.preprocessing import LabelEncoder
import pandas as pd

data = pd.read_csv("sample_data.csv")
df_labeled = data.copy()

label_encoder = LabelEncoder()
df_labeled["Gender_Encoded"] = label_encoder.fit_transform(df_labeled["Gender"])
df_labeled["Passed_Encoded"] = label_encoder.fit_transform(df_labeled["Passed"])

print(df_labeled.head(5))

      Name  Gender         City Passed  Gender_Encoded  Passed_Encoded
0    Alice  Female     New York    Yes               0               1
1      Bob    Male  Los Angeles    Yes               1               1
2  Charlie    Male      Chicago     No               1               0
3    Diana  Female      Houston    Yes               0               1
4      Eve  Female      Phoenix     No               0               0

## One Hot Encoding

In [10]:
from sklearn.preprocessing import OneHotEncoder
one_hot = pd.get_dummies(data, columns=["City"])
print(one_hot.head(5))

      Name  Gender Passed  City_Albuquerque  City_Anaheim  City_Atlanta  \
0    Alice  Female    Yes             False         False         False
1      Bob    Male    Yes             False         False         False
2  Charlie    Male     No             False         False         False
3    Diana  Female    Yes             False         False         False
4      Eve  Female     No             False         False         False

   City_Austin  City_Baltimore  City_Boston  City_Charlotte  ...  \
0        False           False        False           False  ...
1        False           False        False           False  ...
2        False           False        False           False  ...
3        False           False        False           False  ...
4        False           False        False           False  ...

   City_San Diego  City_San Francisco  City_San Jose  City_Seattle  \
0           False               False          False         False
1           False               False          False         False
2           False               False          False         False
3           False               False          False         False
4           False               False          False         False

   City_St. Louis  City_Tampa  City_Tucson  City_Tulsa  City_Washington  \
0           False       False        False       False            False
1           False       False        False       False            False
2           False       False        False       False            False
3           False       False        False       False            False
4           False       False        False       False            False

   City_Wichita
0         False
1         False
2         False
3         False
4         False

[5 rows x 54 columns]

In [ ]:
import pandas as pd
from sklearn.preprocessing import StandardScaler, MinMaxScaler
from sklearn.model_selection import train_test_split

data = {
    "Study_Hours": [2, 4, 6, 8, 10],
    "Scores": [50, 60, 70, 80, 90]
}

df = pd.DataFrame(data)

standard_scaler = StandardScaler()
df_standard_scaled = standard_scaler.fit_transform(df)

print("Standard Scaled Data:\n", pd.DataFrame(df_standard_scaled,columns=["Study_Hours","Scores"]),"\n\n\n")


minmax_scaler = MinMaxScaler()
df_minmax_scaled = minmax_scaler.fit_transform(df)

print("Min-Max Scaled Data:\n", pd.DataFrame(df_minmax_scaled,columns=["Study_Hours","Scores"]))


X_train, X_test, y_train, y_test = train_test_split(
    df[["Study_Hours"]],
    df["Scores"],
    test_size=0.2,
    random_state=42
)

print("\n\nX_train:\n", X_train)
print("\nX_test:\n", X_test)
print("\ny_train:\n", y_train)
print("\ny_test:\n", y_test)

Standard Scaled Data:
    Study_Hours    Scores
0    -1.414214 -1.414214
1    -0.707107 -0.707107
2     0.000000  0.000000
3     0.707107  0.707107
4     1.414214  1.414214



Min-Max Scaled Data:
    Study_Hours  Scores
0         0.00    0.00
1         0.25    0.25
2         0.50    0.50
3         0.75    0.75
4         1.00    1.00


X_train:
    Study_Hours
4           10
2            6
0            2
3            8

X_test:
    Study_Hours
1            4

y_train:
 4    90
2    70
0    50
3    80
Name: Scores, dtype: int64

y_test:
 1    60
Name: Scores, dtype: int64