In [1]:
import pandas as pd

In [2]:
data = [10, 20, 30, 40]
series = pd.Series(data)

print(series)

0    10
1    20
2    30
3    40
dtype: int64

In [3]:
# Creating a DataFrame from a dictionary
data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'Los Angeles', 'Chicago']
}
df = pd.DataFrame(data)

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [ ]:
print(df.head(2))

    Name  Age         City
0  Alice   25     New York
1    Bob   30  Los Angeles
Name    object
Age      int64
City    object
dtype: object

In [7]:
print(df.dtypes)

Name    object
Age      int64
City    object
dtype: object

In [8]:
print(df.describe())

        Age
count   3.0
mean   30.0
std     5.0
min    25.0
25%    27.5
50%    30.0
75%    32.5
max    35.0

In [9]:
ages = df['Age']
print(ages)

0    25
1    30
2    35
Name: Age, dtype: int64

In [10]:
subset = df[['Name', 'City']]
print(subset)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago

In [11]:
filtered = df[df['Age'] > 28]
print(filtered)

      Name  Age         City
1      Bob   30  Los Angeles
2  Charlie   35      Chicago

In [12]:
df['Country'] = 'USA'
print(df)

      Name  Age         City Country
0    Alice   25     New York     USA
1      Bob   30  Los Angeles     USA
2  Charlie   35      Chicago     USA

In [13]:
df.rename(columns={'Name': 'First Name', 'City': 'Location'}, inplace=True)
print(df)

  First Name  Age     Location Country
0      Alice   25     New York     USA
1        Bob   30  Los Angeles     USA
2    Charlie   35      Chicago     USA

In [15]:
# This will give you a count of missing values per column.
print(df.isnull().sum())

First Name    0
Age           0
Location      0
Country       0
dtype: int64

In [18]:
# replace missing values with a specified value:
df['Age'] = df['Age'].fillna(0)
# if you want to forward-fill values,
df['Age'] = df['Age'].ffill()
# or backward-fill values
df['Age'] = df['Age'].bfill()
# drop rows with missing values
df = df.dropna()

In [20]:
df['Salary'] = [50000, 60000, 70000]
print(df)

  First Name  Age     Location Country  Salary
0      Alice   25     New York     USA   50000
1        Bob   30  Los Angeles     USA   60000
2    Charlie   35      Chicago     USA   70000

In [21]:
# Group by 'Location' and calculate the average salary
grouped = df.groupby('Location')['Salary'].mean()
print(grouped)

Location
Chicago        70000.0
Los Angeles    60000.0
New York       50000.0
Name: Salary, dtype: float64